# Python virtual environments
.venv/
venv/
ENV/
env/

# VSCode settings (optional)
.vscode/
*.blob/

# Python cache files
__pycache__/
*.py[cod]
*.pyc
.venv
venv
*.jpg
*.png
*.pth
*.pt
*.onnx
*.xml
*.bin

hagrid/
datasets/

